# Python environment
venv/
env/
__pycache__/
*.pyc

# Database
db.sqlite3

# Static & Media (We don't push these to Git!)
staticfiles/
media/

# Environment Variables (CRITICAL: Never push your secret keys!)
.env

# IDEs and OS files
.vscode/
.idea/
.DS_Store